
{% load static %}
<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Регистрация пользователя</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/loginStyle.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>

<body>
	<div class="row gmailStyle">
		<div class="container-fluid">
			<div class="valign-wrapper screenHeight">
					<div class="col card s12 m8 l6 xl4 autoMargin setMaxWidth overflowHidden">
						<div class="row hidden" id="progress-bar">
					    <div class="progress mar-no">
					      <div class="indeterminate"></div>
					    </div>
						</div>
						<div class="clearfix mar-all pad-all"></div>

						<img src="https://i.imgur.com/6hfApSF.png" class="logoImage" />
						<h5 class="center-align mar-top mar-bottom formTietle">Регистрация</h5>
						<p class="center-align pad-no mar-no">Открой доступ к видео</p>

						{% if form.errors %}
                            <div style="color: red">{{ form.errors }}</div>
						{% endif %}

						{% if form.non_field_errors or messages %}
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% else %}
                                {{ form.non_field_errors }}
							{% endif %}
                        {% endif %}

						<div class="clearfix mar-all pad-all"></div>

						<div id="formContainer" class="goRight">

                            <form class="signUpForm" name="myForm" method="POST">
                                {% csrf_token %}
								<div class="input-fields-div autoMargin">
									<div class="input-field">
                                        {{form.username}}
                                        <label for="reg_user_name">Имя пользователя</label>
					                </div>

                                    <div class="input-field">
                                        {{form.email}}
                                        <label for="reg_user_name">Email</label>
					                </div>

									<div class="row input-inline-field">
                                            <div id="reg_passwordDiv" class="input-field col s6">
                                                {{form.password1}}
                                                <label for="reg_pass_word">Пароль</label>
                                                <a href="javascript:void(0)" class="showPassword" onclick="showPassword()"><i class="material-icons md-18">visibility</i></a>
                                            </div>
                                            
                                            <div id="rePasswordDiv" class="input-field col s6">
                                                {{form.password2}}
                                                <label for="re_pass_word">Подтвердить пароль</label>
                                            </div>

                                            <div class="input-field col s12 mar-no">
                                                <div id="validation-txt"></div>
                                                <span class="helper-text" data-error="wrong" data-success="right">Более 8 символов, цифры, заглавные буквы</span>
                                            </div>
									</div>
									<p>Уж есть аккаунт?<a href="{% url 'sign-in' %}" class="backToLogin">Вход</a></p>
								</div>

								<div class="input-fields-div autoMargin right-align">
									<button type="submit" class="registerBtn waves-effect waves-light btn" id="reg__btn">Регистрация</button>
								</div>

							</form>

							<div class="clearfix"></div>
						</div>
						<div class="clearfix mar-all pad-all"></div>
					</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/cash.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/routie.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/loginScript.js' %}"></script>
</body>
</html>
